@import url('./common.css');

/* Property details page */
.property-view-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.property-view-container {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  max-width: 1200px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.property-view-content {
  display: flex;
  gap: 2rem;
  font-size: 0.8rem; 
  font-family: 'Poppins', Arial, sans-serif; 
}

.property-view-left {
  flex: 1;
}

.property-view-right {
  flex: 1;
}

.property-view-header {
  text-align: left;
  margin-bottom: 2rem;
  font-size: 1.2rem; 
  font-family: 'Poppins', Arial, sans-serif; /* Ensure the same font family */
}

.property-view-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 1rem;
}

.thumbnails {
  display: flex;
  gap: 0.5rem;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 4px;
}

.property-view-details {
  font-size: 1rem;
  text-align: left;
  width: 100%;
  font-family: 'Poppins', Arial, sans-serif;
}

.property-view-photos {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.property-view-photos img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.floorplan-image {
  height: 300px;
  width: auto;
  max-width: 100%;
  max-height: 100vh;
}

.property-view-map {
  height: 300px;
  width: auto;
  font-size: 1rem; 
  font-family: 'Poppins', Arial, sans-serif;
}

.react-tabs__tab {
  background-color: #e8e8e8; /* Light grey background color */
  color: var(--primary-color); /* Primary color text */
  border-radius: 4px; /* Optional: add border radius for rounded corners */
  padding: 0.5rem 1rem; /* Add padding for better spacing */
  margin-right: 0.5rem; /* Add margin between tabs */
}

.react-tabs__tab--selected {
  background-color: black;
  border-radius: 4px;
}

.react-tabs__tab-panel--selected {
  box-shadow: 0 0 10px rgba(207, 207, 208, 0.4);
  background-color: #e8e8e8; 
  border-radius: 8px;
  padding: 1rem; 
}

.react-tabs__tab-panel {
  min-height: 300px; /* Ensure all tab panels have the same height as the floorplan container */
}

@media (max-width: 768px) {
  .property-details-page {
    padding: 1rem;
  }

  .thumbnails {
    gap: 0.25rem;
  }

  .thumbnail {
    width: 60px;
    height: 45px;
  }

  .property-view-container {
    width: 95%;
    padding: 1rem;
  }

  .property-view-content {
    flex-direction: column;
    gap: 1rem;
  }

  .main-image {
    max-width: 100%;
  }

  .thumbnails {
    gap: 0.25rem;
  }

  .thumbnail {
    width: 60px;
    height: 60px;
  }

  .property-view-photos img {
    width: 80px;
    height: 80px;
  }

  .property-view-map {
    height: 300px;
  }

  .floorplan-image {
    height: auto;
    width: 100%;
    max-height: 300px;
  }
}
